<!DOCTYPE html>
<html>
<head>
  <title>Get Underskeleton at getunderskeleton.com</title>
  <meta http-equiv="refresh" content="3;URL='http://getunderskeleton.com/'" />
</head>
<body>

<%= yield %>

</body>
</html>
